<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<h1>Welcome to the To Do List App</h1>
	
	<p>I'm building a simple to-do list application in hopes of filling it with more to-do's as a Web Dev ;-)  This app will be submitted to Codecademy in hopes of exploring employment oppportunities as a Web Dev.</p>

	<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>