<<<<<<< HEAD
<<<<<<< HEAD
<h1>Welcome to My Codecademy To Do App Submission</h1>
<p>I'm building a simple to-do list application in hopes of filling it with more to-do's as a Web Dev ;-)</p>
<p>Find this file at in app/views/welcome/index.html.erb</p>
=======
=======
>>>>>>> GenerateTodoModelAndMigration
<h1>Welcome to the To-Do Application</h1>
<p>This is a simple To-Do Application that is to be submitted to Codecademy...</p>
<p>In hopes of filling it with more To-Do's as a Web Dev ;-)</p>
<p>Find me in app/views/welcome/index.html.erb</p>
>>>>>>> GenerateTodoModelAndMigration
